* {
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  box-sizing         : border-box;
  margin             : 0;
  padding            : 0;
  font-family        : 'Roboto',sans-serif;
  font-weight        : 300;
  vertical-align     : top;
}

body {
  font-size: 0;
  background: #ffffff;
  text-align: center;
}

/* ------------- The Grid */
.g3,
.g4,
.g5,
.g6,
.g7,
.g8,
.g9,
[class*="g1"],
[class*="g2"],
[class*="icon"],
[class*="col"],
.block,
[class^="btn"],
label,
input,
select,
.nav-item,
.nav,
.nav-menu,
.nav-control,
.container,
.section,
.row,
.arrow,
.wizz-logo,
.nav-submenu-indicator,
.captcha-refresh,
.ib,
.hero_cloud-hosting,
.hero_dedicated-servers,
.hero_server-management,
[class*="value-prop_icon_"],
[class*="icon-round_"],
[class*="package-micro"],
.carat,
.portrait-sm,
.portrait,
.carousel-pill,
.carousel-item,
.carousel-pill-background,
.social-links,
.mobile-nav-menu_trigger,
.wizz-logo {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.is-mobile {
  display: none;
}

/* Grid Layout */
.g1  { width: 4.16666666666667%;  }
.g2  { width: 8.33333333333334%;  }
.g3  { width: 12.50000000000001%; }
.g4  { width: 16.66666666666668%; }
.g5  { width: 20.83333333333335%; }
.g6  { width: 25%;                }
.g7  { width: 29.16666666666669%; }
.g8  { width: 33.33333333333336%; }
.g9  { width: 37.50000000000003%; }
.g10 { width: 41.6666666666667%;  }
.g11 { width: 45.83333333333337%; }
.g12 { width: 50%;                }
.g13 { width: 54.16666666666671%; }
.g14 { width: 58.33333333333338%; }
.g15 { width: 62.50000000000005%; }
.g16 { width: 66.66666666666672%; }
.g17 { width: 70.83333333333339%; }
.g18 { width: 75%;                }
.g19 { width: 79.16666666666673%; }
.g20 { width: 83.3333333333334%;  }
.g21 { width: 87.50000000000007%; }
.g22 { width: 91.66666666666674%; }
.g23 { width: 95.83333333333341%; }
.g24 { width: 100%;               }

.l1  { margin-left: 4.16666666666667%;  }
.l2  { margin-left: 8.33333333333334%;  }
.l3  { margin-left: 12.50000000000001%; }
.l4  { margin-left: 16.66666666666668%; }
.l5  { margin-left: 20.83333333333335%; }
.l6  { margin-left: 25%;                }
.l7  { margin-left: 29.16666666666669%; }
.l8  { margin-left: 33.33333333333336%; }
.l9  { margin-left: 37.50000000000003%; }
.l10 { margin-left: 41.6666666666667%;  }
.l11 { margin-left: 45.83333333333337%; }
.l12 { margin-left: 50%;                }
.l13 { margin-left: 54.16666666666671%; }
.l14 { margin-left: 58.33333333333338%; }
.l15 { margin-left: 62.50000000000005%; }
.l16 { margin-left: 66.66666666666672%; }
.l17 { margin-left: 70.83333333333339%; }
.l18 { margin-left: 75%;                }
.l19 { margin-left: 79.16666666666673%; }
.l20 { margin-left: 83.3333333333334%;  }
.l21 { margin-left: 87.50000000000007%; }
.l22 { margin-left: 91.66666666666674%; }
.l23 { margin-left: 95.83333333333341%; }

.r1  { margin-right: 4.16666666666667%;  }
.r2  { margin-right: 8.33333333333334%;  }
.r3  { margin-right: 12.50000000000001%; }
.r4  { margin-right: 16.66666666666668%; }
.r5  { margin-right: 20.83333333333335%; }
.r6  { margin-right: 25%;                }
.r7  { margin-right: 29.16666666666669%; }
.r8  { margin-right: 33.33333333333336%; }
.r9  { margin-right: 37.50000000000003%; }
.r10 { margin-right: 41.6666666666667%;  }
.r11 { margin-right: 45.83333333333337%; }
.r12 { margin-right: 50%;                }
.r13 { margin-right: 54.16666666666671%; }
.r14 { margin-right: 58.33333333333338%; }
.r15 { margin-right: 62.50000000000005%; }
.r16 { margin-right: 66.66666666666672%; }
.r17 { margin-right: 70.83333333333339%; }
.r18 { margin-right: 75%;                }
.r19 { margin-right: 79.16666666666673%; }
.r20 { margin-right: 83.3333333333334%;  }
.r21 { margin-right: 87.50000000000007%; }
.r22 { margin-right: 91.66666666666674%; }
.r23 { margin-right: 95.83333333333341%; }

.right  { text-align: right  ; }
.left   { text-align: left   ; }
.center { text-align: center ; }

.block,.row { width: 100% ; }

[class*="row"] + .row    { margin-top: 20px ; }
[class*="row"] + .row-xl { margin-top: 50px ; }

/* Column Classes */

.col1of5 { padding-right: 35px ;                       }
.col2of5 { padding-left: 9px   ; padding-right: 26px ; }
.col3of5 { padding-left: 18px  ; padding-right: 18px ; }
.col4of5 { padding-right: 9px  ; padding-left: 26px  ; }
.col5of5 { padding-left: 35px  ;                       }

.col1of5-sm { padding-right: 18px ;                       }
.col2of5-sm { padding-left: 4px   ; padding-right: 13px ; }
.col3of5-sm { padding-left: 9px   ; padding-right: 9px  ; }
.col4of5-sm { padding-right: 4px  ; padding-left: 13px  ; }
.col5of5-sm { padding-left: 18px  ;                       }

.col1of4 { padding-right: 33px ;                       }
.col2of4 { padding-left: 11px  ; padding-right: 22px ; }
.col3of4 { padding-left: 22px  ; padding-right: 11px ; }
.col4of4 { padding-left: 33px  ;                       }

.col1of4-sm { padding-right: 17px ;                       }
.col2of4-sm { padding-left: 5px   ; padding-right: 11px ; }
.col3of4-sm { padding-left: 11px  ; padding-right: 5px  ; }
.col4of4-sm { padding-left: 17px  ;                       }

.col1of3 { padding-right: 29px ;                       }
.col2of3 { padding-left: 15px  ; padding-right: 15px ; }
.col3of3 { padding-left: 29px  ;                       }

.col1of3-sm { padding-right: 15px ;                       }
.col2of3-sm { padding-left: 7px   ; padding-right: 7px ;  }
.col3of3-sm { padding-left: 15px  ;                       }

.col1of3-xl { padding-right: 50px ;                       }
.col2of3-xl { padding-left: 25px  ; padding-right: 25px ; }
.col3of3-xl { padding-left: 50px  ;                       }

.col1of2,.mcol1of2 { padding-right: 22px ; padding-left: 0;}
.col2of2,.mcol2of2 { padding-left: 22px  ; padding-right: 0;}

.col1of2-sm,.mcol1of2-sm { padding-right: 11px ; padding-left: 0;}
.col2of2-sm,.mcol2of2-sm { padding-left: 11px  ; padding-right: 0;}




.rel { position: relative; }

.abs { position: absolute; }

/* Section */

.section      { overflow: hidden; position: relative; padding: 60px 0     ; width: 100% ; }
.section-grey { background: #eeeef4 ; }
.section-dark { background: #2c2c3c ; }
.section-red  { background: #e24d3d; }

.container { width: 960px; text-align: left; position: relative; }

.main { min-height: 700px; }

/* ------------- Typography */

a {
  text-decoration: none;
  color: #28AAE1;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}

a:hover {
  color: #28affa;
}

br {
  font-size: 16px;
}

p {
  font-size: 16px;
  line-height: 26px;
  color: #7f7f8d;
}

.med-text {
  display: block;
  font-size: 20px;
  color: #ffffff;
}

[class*="col"] p {
  text-align: justify;
}

[class*="col"].center p {
  text-align: center;
}

.section-dark p,
.section-dark-grey p {
  color: #e5e5eb;
}

h1 {
  font-size: 33px;
  line-height: 50px;
  color: #e24d3d;
  margin-bottom: 25px;
  text-align: center;
}

.section-dark-grey h1 {
  color: #babac5;
}

h2 {
  margin-bottom: 10px;
  font-size: 23px;
  line-height: 36px;
  color: #e24d3d;
  font-weight: normal;
}

h3 {
  font-size: 16px;
  line-height: 26px;
  color: #7f7f8d;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
  line-height: 32px;
}

h5 {
  font-size: 17px;
  line-height: 28px;
}

hr {
  border: none;
  border-top: 1px solid #e5e5eb;
  margin: 30px 0;
}

/* Text Color */

.grey {
  color: #babac5 !important;
}

/* ------------- Form Elements */

[class*="btn"],
.switch,
label,
input[type="text"],
input[type="password"],
textarea {
  font-size: 14px;
}

[class*="btn"],
.switch,
label,
input[type="text"],
input[type="password"] {
  line-height: 40px;
  height: 42px;
}

label {
  color: #7f7f7f;
}

input[type="text"],
input[type="password"],
textarea {
  padding            : 0 10px;
  border             : 1px solid #807F7F;
  border-radius      : 5px;
  -moz-appearance    : none;
  -webkit-appearance : none;
  -o-appearance      : none;
  -ms-appearance     : none;
}

textarea {
  padding: 10px;
  min-height: 100px;
}

select {
  -webkit-appearance: menulist-button;
  padding: 5px;
  border: 1px solid #b8b8b8;
  color: #828282;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15) inset;
}

/* ------------- Buttons */

[class*="btn"]:hover,
[class*="btn"] {
  text-decoration: none;
}

[class*="btn"] {
  padding: 1px 17px 0;
  border-radius: 5px;
  text-align: center;
  color: #28AAE1;
  -webkit-transition: background 0.15s;
  -moz-transition: background 0.15s;
  -ms-transition: background 0.15s;
  -o-transition: background 0.15s;
  transition: background 0.15s;
  cursor: pointer;
}

.btn:hover,
.btn-nav_btn:hover {
  background: #f4f4f4;
}

.btn-large {
  line-height: 45px;
}

[class^="btn-"] + [class^="btn-"] {
  margin-left: 10px;
}

.btn-blue,
.btn-red,
.btn-dark {
  color: #fff;
}

.btn-blue       { background: #46b3e1; }
.btn-blue:hover { background: #59C6FF; }

.btn-red       { background: #e24d3d; }
.btn-red:hover { background: #EB725B; }

.btn-dark       { background: #2c2c3c; }
.btn-dark:hover { background: #53546F; }

.btn-stroke              { border: 1px solid #7f7f8d; color: #62626f; }
.section-red .btn-stroke { border-color: #ffaa95; color: #ffaa95; }

[class*="btn"]._has-icon        { padding: 0 8px; }
[class*="btn"] [class*="icon-"] { margin-top: 6px; }

[class*="btn"] .carat {
  width: 16px;
  height: 16px;
  margin: 13px -5px 0 3px;
  background-position: 0 -78px;
}

/* Full screen background */

.fs_background {
  /* Set rules to fill background */
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.shadowbox {
  position: absolute;
  left: -10000px;
  width: 100%;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.shadowbox.is-animated_in {
  left: 0;
  opacity: 1;
}

.shadowbox.is-animated_out {
  left: 0;
  opacity: 0;
}

/* Image Assignment */

.wizz-logo,
.nav-submenu-indicator,
.nav .icon-chat,
.nav .icon-mail,
.submenu .arrow,
.captcha-refresh,
.modal .arrow,
.carat,
.carousel-control_left,
.carousel-control_right,
.carousel-pill,
.carousel-pill-background,
.form-validate-prompt .arrow,
[class*="icon-social_"],
.icon-nav-menu {
  background: url(../img/sprites_main.png);
}

.hero_cloud-hosting,
.hero_dedicated-servers,
.hero_server-management,
[class*="value-prop_icon_"] {
  background: url(../img/sprites_hero.png);
}

[class*="icon-round_"] {
  background: url(../img/sprites_icon-round.png);
  width: 96px;
  height: 96px;
}

[class*="product-title_"] {
  background: url(../img/sprites_product-titles.png);
  width: 256px;
  height: 64px;
  margin-left: auto;
  margin-right: auto;
}

/* Round Icons */
.icon-round_support       { background-position: 0 0           ; }
.icon-round_fiber         { background-position: -96px 0       ; }
.icon-round_wrench        { background-position: -192px 0      ; }
.icon-round_media         { background-position: -288px 0      ; }
.icon-round_wizz          { background-position: -384px 0      ; }
.icon-round_wizz-admin    { background-position: -480px 0      ; }
.icon-round_wizz-monitor  { background-position: 0 -96px       ; }
.icon-round_wizz-secure   { background-position: -96px -96px   ; }
.icon-round_os            { background-position: -192px -96px  ; }
.icon-round_control-panel { background-position: -288px -96px  ; }
.icon-round_home          { background-position: -384px -96px  ; }
.icon-round_install       { background-position: -480px -96px  ; }
.icon-round_windows       { background-position: 0 -192px      ; }
.icon-round_linux         { background-position: -96px -192px  ; }
.icon-round_all-os        { background-position: -192px -192px ; }
.icon-round_security      { background-position: -288px -192px ; }
.icon-round_firewall      { background-position: -384px -192px ; }
.icon-round_optimize      { background-position: -480px -192px ; }
.icon-round_ddos          { background-position: 0 -288px      ; }
.icon-round_hangouts      { background-position: -96px -288px  ; }
.icon-round_ticket        { background-position: -192px -288px ; }
.icon-round_skype         { background-position: -288px -288px ; }
.icon-round_chat          { background-position: -384px -288px ; }
.icon-round_email         { background-position: -480px -288px ; }

/* Social Icons */

[class*="icon-social_"] {
  width: 46px;
  height: 46px;
}

.icon-social_google-plus  { background-position: -245px -46px; }
.icon-social_twitter      { background-position: -291px -46px; }
.icon-social_facebook     { background-position: -337px -46px; }

/* Navigation */

.nav {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #e6e6e6;
}

.wizz-logo {
  width: 215px;
  height: 39px;
}

.nav .wizz-logo {
  position: absolute;
  left: 0;
  top: 26px;
}

.nav-menu {
  margin-top: 26px;
}

.nav-item {
  position: relative;
  font-size: 15px;
  font-weight: 300;
  line-height: 40px;
  color: #b3b3b3;
  cursor: pointer;
}

.nav-item:hover,
.nav-item._active {
  color: #e24d3d;
}

.nav-item + .nav-item {
  margin-left: 22px;
}

.nav-item a {
  color: inherit;
  font-weight: inherit;
}

.nav-submenu-indicator {
  width: 12px;
  height: 12px;
  background-position: -215px 0;
  position: absolute;
  top: 33px;
  left: 50%;
  margin-left: -6px;
}

.submenu {
  z-index: 2;
  position: absolute;
  top: 20px;
  left: -10000px;
  width: 160px;
  padding: 8px 5px;
  border-radius: 8px;
  text-align: left;
  list-style: none;
  opacity: 0;
  background: #2c2c3c;
  -moz-transition: opacity 0.3s,top 0.15s;
  -ms-transition: opacity 0.3s,top 0.15s;
  -o-transition: opacity 0.3s,top 0.15s;
  transition: opacity 0.3s,top 0.15s;
}

.submenu .arrow {
  position: absolute;
  width: 20px;
  height: 8px;
  background-position: -275px 0px;
  top: -8px;
  left: 50%;
  margin-left: -10px;
}

.submenu._animated-in {
  left: 50%;
  margin-left: -80px;
  top: 55px;
  opacity: 1;
}

.submenu._animated-out {
  left: 50%;
  margin-left: -80px;
  top: 25px;
  opacity: 0;
  -moz-transition: opacity 0.2s,top 0.2s;
  -ms-transition: opacity 0.2s,top 0.2s;
  -o-transition: opacity 0.2s,top 0.2s;
  transition: opacity 0.2s,top 0.2s;
}

.submenu-item a {
  display: block;
  padding: 0 17px;
  color: #B3B3B3;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.submenu-item a:hover {
  background: #e24d3d;
  color: #fff;
}

.nav-control {
  margin-left: 30px;
  margin-top: 28px;
}

.nav .icon-mail,
.nav .icon-chat {
  width: 30px;
  height: 30px;
}

.nav .icon-mail {
  background-position: -245px -12px;
}

.nav .icon-chat {
  background-position: -215px -12px;
}

.nav .modal {
  z-index: 2;
  position: absolute;
  top: 31px;
  right: 10000px;
  width: 480px;
  padding: 25px;
  border: 1px solid #e5e5eb;
  border-radius: 12px;
  opacity: 0;
  background: #fff;
  -webkit-transition: opacity 0.3s,top 0.2s;
  -moz-transition: opacity 0.3s,top 0.2s;
  -ms-transition: opacity 0.3s,top 0.2s;
  -o-transition: opacity 0.3s,top 0.2s;
  transition: opacity 0.3s,top 0.2s;
}

.nav .modal._animated-in {
  right: 0;
  top: 91px;
  opacity: 1;
}

.nav .modal._animated-out {
  right: 0;
  top: 31px;
  opacity: 0;
  -webkit-transition: opacity 0.2s,top 0.3s;
  -moz-transition: opacity 0.2s,top 0.3s;
  -ms-transition: opacity 0.2s,top 0.3s;
  -o-transition: opacity 0.2s,top 0.3s;
  transition: opacity 0.2s,top 0.3s;
}

.modal .arrow {
  position: absolute;
  top: -21px;
  right: 80px;
  width: 30px;
  height: 30px;
  margin-left: -15px;
  background-position: -215px -42px;
}

/* Captcha */

.captcha-refresh {
  width: 46px;
  height: 46px;
}

.nav .captcha-refresh {
  background-position: -295px 0;
  cursor: pointer;
}

.nav .captcha-refresh:hover {
  background-position: -341px 0;
}

.captcha-image {
  border: 1px solid #babac5;
  height: 42px;
  border-radius: 6px;
  margin-right: 20px;
  overflow: hidden;
}

.captcha-image img {
  width: 100%;
  height: auto;
}

/* Form Validation */

.input-group {
  position: relative;
}

.form-validate-prompt {
  background: #e24d3d;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  position: absolute;
  width: 100%;
  bottom: -11px;
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity 0.3s,bottom 0.2s;
  -moz-transition: opacity 0.3s,bottom 0.2s;
  -ms-transition: opacity 0.3s,bottom 0.2s;
  -o-transition: opacity 0.3s,bottom 0.2s;
  transition: opacity 0.3s,bottom 0.2s;
  left: -10000px;
}

.form-validate-prompt._animated-in {
  left: 0;
  opacity: 1;
  bottom: -41px;
}

.form-validate-prompt._animated-out {
  -webkit-transition: opacity 0.2s,bottom 0.3s;
  -moz-transition: opacity 0.2s,bottom 0.3s;
  -ms-transition: opacity 0.2s,bottom 0.3s;
  -o-transition: opacity 0.2s,bottom 0.3s;
  transition: opacity 0.2s,bottom 0.3s;
  left: 0;
  opacity: 0;
  bottom: -11px;
}

.form-validate-prompt .arrow {
  width: 22px;
  height: 8px;
  background-position: -215px -72px;
  position: absolute;
  top: -8px;
  z-index: 1;
  left: 50%;
}

/* Hero */

.hero-title {
  font-size: 42px;
  font-weight: 400;
  margin-bottom: 20px;
}

.hero-subtitle {
  font-size: 25px;
  margin-bottom: 60px;
}

.hero_cloud-hosting,
.hero_dedicated-servers,
.hero_server-management {
  width: 208px;
  height: 208px;
  margin-bottom: 20px;
}

.hero_dedicated-servers {
  background-position: -208px 0;
}

.hero_server-management {
  background-position: -416px 0;
}

.hero_feature-title,
.hero_feature-subtitle {
  font-weight: 400;
}

.hero_feature-title {
  font-size: 20px;
  color: #e24d3d;
  margin-bottom: 7px;
}

.hero_feature-subtitle {
  font-size: 16px;
  margin-bottom: 20px;
  color: #7f7f8d;
}

/* Value Props */

[class*="value-prop_icon_"] {
  width: 64px;
  height: 64px;
  position: absolute;
}

.value-prop_icon_support-response {
  background-position: 0 -208px;
}

.value-prop_icon_certified-engineers {
  background-position: -64px -208px;
}

.value-prop_icon_twenty-years {
  background-position: -128px -208px;
}

.value-prop_icon_targeted {
  background-position: -192px -208px;
}

.value-prop_text {
  margin-top: 5px;
  margin-left: 74px;
}

/* Micro Package */

.package-micro {
  border: 1px solid #e5e5eb;
  padding: 29px;
  border-radius: 12px;
  width: 100%;
  margin-top: 20px;
}

.package-micro_currency {
  line-height: 60px;
  font-size: 29px;
}

.package-micro_amount {
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 10px;
}

.package-micro_text {
  font-size: 16px;
  color: #7f7f8d;
  width: 100%;
}

/* Portrait */

.portrait-sm {
  width: 130px;
  height: 130px;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid #fff;
}

.portrait {
  width: 170px;
  height: 170px;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid #fff;
}

/* Carousel */

.carousel {
  position: relative;
}

.carousel-control_left,
.carousel-control_right {
  width: 30px;
  height: 60px;
  position: absolute;
  top: 33px;
  cursor: pointer;
  z-index: 10;
}

.carousel-control_left {
  background-position: -16px -78px;
  left: 0;
}

.carousel-control_left:hover {
  background-position: -76px -78px;
}

.carousel-control_right {
  right: 0;
  background-position: -46px -78px;
}

.carousel-control_right:hover {
  background-position: -106px -78px;
}

.carousel-scroll {
  margin: 0 80px;
  overflow: hidden;
}

.carousel-pills {
  text-align: center;
  margin-top: 20px;
}

.carousel-pill,
.carousel-pill-background {
  width: 16px;
  height: 16px;
}

.carousel-pill {
  background-position: 0 -94px;
  cursor: pointer;
}

.carousel-pill + .carousel-pill {
  margin-left: 3px;
}

.carousel-pill-background {
  background-position: 0 -110px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.carousel-pill._animated-in .carousel-pill-background {
  opacity: 1;
}

.carousel-item-container {
  width: 100%;
  position: relative;
}

.carousel-testimonial-item-container {
  height: 230px;
}

.carousel-item {
  position: absolute;
  opacity: 0;
  top: 150px;
  -webkit-transition: opacity 0.3s, top 0.2s;
  -moz-transition: opacity 0.3s, top 0.2s;
  -ms-transition: opacity 0.3s, top 0.2s;
  -o-transition: opacity 0.3s, top 0.2s;
  transition: opacity 0.3s, top 0.2s;
}

.carousel-item._animated-in {
  opacity: 1;
  top: 0;
}

.carousel-item._animated-out {
  opacity: 0;
  top: 200px;
  -webkit-transition: opacity 0.2s, top 0.3s;
  -moz-transition: opacity 0.2s, top 0.3s;
  -ms-transition: opacity 0.2s, top 0.3s;
  -o-transition: opacity 0.2s, top 0.3s;
  transition: opacity 0.2s, top 0.3s;
}

/* Footer */

.footer {}

.footer .wizz-logo {
  background-position: 0 -39px;
  position: absolute;
}

.footer .nav-menu {
  margin-top: 0;
}

.footer .nav-item {
  color: #ffaa95;
}

.footer .nav-item:hover,
.footer .nav-item._active {
  color: #fff;
}

.footer .nav-submenu-indicator {
  background-position: -239px 0;
}

.footer hr {
  border-color: #f1a79e;
}

.footer .social-links {
  border-left: 1px solid #f1a79e;
  padding: 0 0 0 20px;
  margin-left: 30px;
}

.footer .fb-like {
  margin-top: 10px;
}

/* Mobile */

@media screen and (max-width: 480px) {

  /* Mobile Layout */
  .m1  { width: 4.16666666666667%;  }
  .m2  { width: 8.33333333333334%;  }
  .m3  { width: 12.50000000000001%; }
  .m4  { width: 16.66666666666668%; }
  .m5  { width: 20.83333333333335%; }
  .m6  { width: 25%;                }
  .m7  { width: 29.16666666666669%; }
  .m8  { width: 33.33333333333336%; }
  .m9  { width: 37.50000000000003%; }
  .m10 { width: 41.6666666666667%;  }
  .m11 { width: 45.83333333333337%; }
  .m12 { width: 50%;                }
  .m13 { width: 54.16666666666671%; }
  .m14 { width: 58.33333333333338%; }
  .m15 { width: 62.50000000000005%; }
  .m16 { width: 66.66666666666672%; }
  .m17 { width: 70.83333333333339%; }
  .m18 { width: 75%;                }
  .m19 { width: 79.16666666666673%; }
  .m20 { width: 83.3333333333334%;  }
  .m21 { width: 87.50000000000007%; }
  .m22 { width: 91.66666666666674%; }
  .m23 { width: 95.83333333333341%; }
  .m24 { width: 100%;               }

  .container {
    width: 100%;
    padding: 0 20px;
  }

  .is-desktop {
    display: none;
  }

  [class*="m1"],
  [class*="m2"],
  .m3,
  .m4,
  .m5,
  .m6,
  .m7,
  .m8,
  .m9,
  .is-mobile {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }

  .section {
    padding: 25px 0;
  }

  .m24[class*="col"] {
    padding-left: 0;
    padding-right: 0;
  }

  [class*="mrow"]+.mrow {
    margin-top: 20px;
  }

  [class*="mrow"]+.mrow-xl {
    margin-top: 50px;
  }

  .mcenter {
    text-align: center;
  }

  .mblock {
    width: 100%;
  }

  /* Typography */

  p {
    font-size: 13px;
  }

  h1 {
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 12px;
  }

  .hero-title {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 15px;
  }

  h2 {
    font-size: 18px;
  }

  .hero-subtitle {
    font-size: 18px;
    margin-bottom: 36px;
  }

  /* Buttons */

  [class*="btn-"] {
    line-height: 42px;
    height: 44px;
  }

  [class*="btn-"] + [class*="btn-"].mblock {
    margin-left: 0;
  }

  /* Image Assignment */

  .hero_cloud-hosting,
  .hero_dedicated-servers,
  .hero_server-management,
  [class*="value-prop_icon_"] {
    background: url(../img/sprites_hero_mobile.png);
  }

  .hero_cloud-hosting,
  .hero_dedicated-servers,
  .hero_server-management {
    width: 155px;
    height: 155px;
  }

  .hero_dedicated-servers {
    background-position: -155px 0;
  }

  .hero_server-management {
    background-position: -310px 0;
  }

  [class*="value-prop_icon"] {
    width: 52px;
    height: 52px;
  }

  .value-prop_icon_support-response {
    background-position: 0 -155px;
  }

  .value-prop_icon_certified-engineers {
    background-position: -52px -155px;
  }

  .value-prop_icon_twenty-years {
    background-position: -104px -155px;
  }

  .value-prop_icon_targeted {
    background-position: -156px -155px;
  }

  /* Value Prop */

  .value-prop {
    height: 80px;
  }

  .value-prop_text {
    margin: 5px 10px 0 60px;
    font-size: 15px;
    line-height: 20px;
  }

  /* Mobile Micro Packages */

  .package-micro {
    padding: 20px;
  }

  .package-micro_currency {
    font-size: 16px;
    line-height: 22px;
  }

  .package-micro_amount {
    font-size: 19px;
    line-height: 22px;
  }

  .package-micro_text {
    font-size: 13px;
  }

  /* Mobile Carousel */

  .carousel-scroll {
    margin: 0 44px;
  }

  /* Full Screen Background */

  .fs_background {
    /* Set rules to fill background */
    min-height: 600px;

    /* Set up proportionate scaling */
    width: auto;
    height: 100%;

    /* Set up positioning */
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    margin-left: -500px;
  }

  /* Mobile Nav */

  /* Nav Animation */
  .page,
  .nav-menu,
  .nav {
    position: absolute;
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    -ms-transition: left 0.3s;
    -o-transition: left 0.3s;
    transition: left 0.3s;
  }

  .nav {
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 1;
  }

  ._nav-open .nav {
    left: 160px;
  }

  /* Mobile WizzSolutions Logo */

  .wizz-logo {
    width: 158px;
    height: 22px;
  }

  .nav .wizz-logo {
    position: absolute;
    top: 13px;
    left: 50%;
    margin-left: -79px;
    background-position: -174px -92px;
  }

  .mobile-nav-menu_trigger {
    width: 44px;
    height: 44px;
    text-align: center;
    position: absolute;
    left: 5px;
    top: 5px;
  }

  .icon-nav-menu {
    background-position: -136px -78px;
    width: 38px;
    height: 38px;
  }

  .nav-menu {
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -160px;
    width: 160px;
    margin: 0;
    background: #2c2c3c;
  }

  ._nav-open .nav-menu {
    left: 0;
  }

  .footer .nav-menu {
    display: none;
  }

  .nav-item {
    display: block;
    text-align: left;
    margin-left: 12px;
  }

  .nav-item + .nav-item {
    margin-left: 12px;
    border-top: 1px solid #50505b;
  }

  .nav-item_trigger {
    padding: 0 10px;
    line-height: 44px;
  }

  .nav-submenu-indicator {
    top: 18px;
    left: auto;
    right: 13px;
  }

  .nav .submenu {
    background: #1B1B24;
  }

  .nav .submenu .arrow {
    background-position: -275px -8px;
  }

  .nav .submenu._animated-in {
    top: 48px;
  }

  /* Page */

  .page-container {
    width: 100%;
    overflow: hidden;
  }

  .page {
    margin-top: 50px;
    position: relative;
  }

  ._nav-open .page {
    left: 160px;
  }

  /* Carousel */

  .carousel-testimonial-item-container {
    height: 550px;
  }

  /* Footer */

  .footer .wizz-logo {
    position: static;
  }

  .footer .social-links {
    margin: 25px 0 0;
    border: none;
    padding: 0;
  }

  .footer .social-links a + a {
    margin-left: 40px;
  }

  .footer .wizz-logo {
    background-position: -174px -114px;
  }
}

@media screen and (min-width: 1280px) { /* Specific to this particular image */
  .container {
    width: 1060px;
  }
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  .fs_background {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

/* Retina Image Assignment */

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
}

